@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}


.slick-prev:before,
.slick-next:before {
  color: black; /* Default color for light mode */
}

.slick-dots li button:before {
  color: black; /* Default color for light mode */
}

/* Dark mode styles */
.dark .slick-prev:before,
.dark .slick-next:before {
  color: white; /* Color for dark mode */
}

.dark .slick-dots li button:before {
  color: white; /* Color for dark mode */
}

.prchai:hover{
  text-shadow: rgb(75, 255, 0) 2px 0 5px;
}